@font-face {
  font-family: "Urbanist";
  src: url("styles/fonts/Urbanist-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Urbanist";
  src: url("styles/fonts/Urbanist-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Urbanist";
  src: url("styles/fonts/Urbanist-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

body {
  margin: 0;
  font-family: "Urbanist", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3 {
  color: #A7B7C5;
}

h2 {
  text-align: left;
}

p {
  color: white;
  text-align: left;
}

pre {
  display: block;
  overflow: auto;
  overflow-x: auto;
  font-family: "Courier New";
  padding: 0.5em;
  overflow-wrap: break-word;
}

pre code {
  word-break: break-all;
}

i {
  float: right;
  padding: 10px;
  cursor: pointer;
}

.sample-code > input {
  display: none;
}